
    body {
        font-family: 'Baloo Da 2', cursive;
        background-color: rgb(21, 21, 21);
    }

    

    .matrix {
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        grid-auto-rows: 250px;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        justify-items: center;
        align-items: center;
    }
    .box {
        display: flex;
        color: rgb(255, 255, 255);
        user-select: none;
        box-shadow: 2px 2px 2px  rgb(2, 2, 2);
        background-image: url("../assets/box-background.png");
        background-position: center;
        background-size:cover;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        height: 200px;
        width: 200px;
        justify-items: center;
        align-items: center;
        transform: scale(1);
        border: 1px solid rgb(19, 19, 19);
        transition: transform 0.25s ease-in-out, border-bottom 0.6s linear, border-right 0.8s linear, border-top 1s linear, border-left 1.2s linear, border-radius 2s ease-out, box-shadow 0.75s ease-in-out;
    }

    .box:hover{
        transform: scale(1.02);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 1px solid rgb(176, 176, 176);
        box-shadow: 0px 0px 5px rgb(160, 160, 160);
        transition:  transform 0.25s ease-in-out, border 0.6s linear, border-radius 1s ease-out, box-shadow 0.25s ease-in-out;
    }

    .box:active {
        transform: scale(0.97);
        transition: transform 0.1s linear;

    }

/* 
@keyframes hoverAnim {
    0%{
        border-left: 1px solid rgb(79, 79, 79);
        border-radius: 2px;
    }   
    34% {
        border-left: 1px solid rgb(79, 79, 79);
        border-top: 1px solid rgb(79, 79, 79);
        border-radius: 4px;
    }
    68% {
        border-top: 1px solid rgb(79, 79, 79);
        border-left: 1px solid rgb(79, 79, 79);
        border-right: 1px solid rgb(79, 79, 79);
        border-radius: 6px;
    }
    100% {
        border-right: 1px solid rgb(94, 94, 94);
        border-top: 1px solid rgb(94, 94, 94);
        border-left: 1px solid rgb(94, 94, 94);
        border-bottom: 1px solid rgb(94, 94, 94);
        border-radius: 8px;
    }
} */