<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
    </style>
    <link rel="stylesheet" href="../static/main.css">
    <script src="../functionality/index.js" defer></script>
    <title>Algorithms</title>
</head>
<body class="scroll_enabled">
    <div class="matrix">
        <div class="box LCS">Longest Common Sub Sequence</div>
        <div class="box SCS">Shortest Common Sub Sequence</div>
        <div class="box LD">Levenshtein Distance</div>
        <div class="box LIS"> Longest Increasing Subsequence</div>
        <div class="box MCM"> Matrix Chain Multiplication</div>
        <div class="box KP"> 0-1-knapsack-problem</div>
        <div class="box PP"> Partition-problem</div>
        <div class="box RCP"> Rod Cutting Problem</div>
        <div class="box CCM"> Coin-change-making-problem</div>
        <div class="box WBP"> Word Break Problem</div>
    </div>
    
</body>
</html>