<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
    </style>
    <link rel="stylesheet" href="../static/main.css">
    <script src="main.js" defer></script>
    <title>Testing</title>
</head>
<body class="scroll_enabled">
    <div class="matrix">
        <div class="box LCS">Longest Common Sub Sequence</div>
        <div class="box SCS">Shortest Common Sub Sequence</div>
        <div class="box LD">Levenshtein Distance</div>
        <div class="box more"> Longest Increasing Subsequence</div>
        <div class="box more"> Matrix Chain Multiplication</div>
        <div class="box more"> 0-1-knapsack-problem</div>
        <div class="box more"> Partition-problem</div>
        <div class="box more"> Rod Cutting Problem</div>
        <div class="box more"> Coin-change-making-problem</div>
        <div class="box more"> Word Break Problem</div>
    </div>
    
</body>

<script>

</script>
</html>